body {
	background-color: #ffffff;
	color: #000000;
	font-family: Helvetica;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
}

form.positionForm{
	margin-top: 45px;
}

p.centerText{
	text-align: center;
}

input.boxStyle{
	width: 200px;
	opacity: 0.5;
	text-align: center;
}